@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-bold: 700;
  --font-regular: 400;
  --font-light: 300;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************
 * ESTILOS GLOBALES
 ************************/

body {
  background-color:rgb(197, 197, 197);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
 }

 .navbar {
  background-color: #333;
  padding: 1rem;
 }

 .navbar_logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar form {
  display: inline;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;  
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: var(--font-bold);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 270px;
  background-color: white;
}

.product-card p {
  padding: 5px;
}

.product-card img {
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.product-card a {
  margin-top: 10px;
  padding: 5px;
  background-color: green;
  color: white;
  text-decoration: none;
}

h3 {
  padding: 5px;
  font-weight:var(--font-bold);
}

.form {
background-color: rgb(255, 253, 253);
width: 300px;
}

.fieldset-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: rgb(228, 175, 175);
}

button {
  background-color: green;
  padding: 5px;
}

legend {
  font-weight: var(--font-bold);
}

/***card****/
.product-cardId{
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 8px;
gap: 10px;
width: 250px;
height: 300px;
}

.dashboard-actions {
  display: flex;
  gap: 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-cardId img {
  width: auto;
  height: auto;
  overflow: hidden;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
} 

.dashboard-actions a {
  background-color: green;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.form_login {
  background-color: rgba(235, 250, 255, 0.651);
  width: 200px;
  height: 220px;
  padding: 20px;
  margin-top: 50px;
}

.form_login div {
  margin: 20px;
}

.form_login fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cerrar_sesion {
  background-color: #333;
  color: white;
}

